<h1>Searching movies</h1>

<% form_for :movie, :url => {:controller => :movies, :action => :search_movies} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Search' %>
  </p>
<% end %>

<div id='list_movies'></div>
